<nav class="navbar navbar-expand-sm bg-warning navbar-dark">
    <div class="container-fluid">
        <a class=" navbar-brand" href="#">Kulissit kuntoon!  (@ViewBag.LoggedStatus)</a>
   

        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="btn"><a class="nav-link" href="~/home/index">Home</a></li>
                <li class="btn"><a class="nav-link" href="~/home/ofus">Meistä</a></li>
                <li class="btn"><a class="nav-link" href="~/home/help">Ohjeet</a></li>
                <li class="btn"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginRuutu">Kirjaudu</a></li>   @*<--ei toimi*@
            </ul>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginRuutu">Kirjaudu sisään</button>
            

        </div>
    </div>
</nav>
