@{
    ViewBag.Title = "Tietoja sovelluksesta";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>In Order - materiaalivarastojärjestelmä auttaa sinua seuraamaan ja ylläpitämään käsityömateriaalejasi.</p>
    <p>Ohjelmalla voit helposti </p>
</main>