@{
    ViewBag.TitleH1 = "Kirjautuminen";
    ViewBag.TitleH2 = "Varaston selaus";
    ViewBag.TitleH3 = "Tuotteen muokkaaminen/poistaminen";
    ViewBag.TitleH4 = "Uuden tiedon lisääminen";
   
}
<main aria-labelledby="title">

    
    <div class="container mt-3">
        <h2>Ohjeita ja vinkkejä</h2>
        <p>Alla olevien otsikoiden alta löydät lisätietoa ja ohjeita ohjelman käyttämiseen. Saat ohjeen auki klikkaamalla kuvaketta.</p>
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">Kirjautuminen</a>
                </div>
                <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        Kirjautumisohjeet
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">Materiaalien selaus</a>
                </div>
                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        Selitys selaamiselle
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">Tietojen muokkaaminen</a>
                </div>
                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        Miten muokkaan ja poistan
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">Uuden tiedon lisäys</a>
                </div>
                <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        Miten lisään uuden?
                    </div>
                </div>
            </div>
        </div>
    </div>
    




</main>