@{
    ViewBag.Title = "In Order";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Materiaalivarastojärjestelmä</h1>
       
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            
        </section>
    </div>
</main>