@model MateriaaliVarasto.Models.Logins

@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script type="text/javascript">
        $(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
                $('#LoginRuutu').modal('show');
            }
        });
    </script>
}


<div class="container pt-5">
        <p class="otsake">Käsityöt - elämämme eliksiiri</p>
        <img src="~/Images/fabrics.jpg" alt="Colourful fabrics" class="img-fluid" style="width:100%;" /> 
</div>

@{
    Html.RenderPartial("_LoginModal");
}
