@model MateriaaliVarasto.Models.Logins

@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script type="text/javascript">
        $(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
                $('#loginRuutu').modal('show');
            }
        });

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}

@{
    Html.RenderPartial("_LoginModal");
}

<div class="jumbotron">
    <h2>Tähän voisi upottaa kauniin kuvan?</h2>
</div>

@*@{
    Html.RenderPartial("_LoginModal");
}*@