@model MateriaaliVarasto.Models.Logins

@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script type="text/javascript">
        $(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
                $('#LoginRuutu').modal('show');
            }
        });
    </script>
}


<div class="container mt-3">
    <div>
        <h1>Käsityöt - elämämme eliksiiri</h1>

        <img src="~/Images/fabrics.jpg" class="rounded-circle" alt="Colourful fabrics" width="1000" height="500" />
    </div>
</div>

@{
    Html.RenderPartial("_LoginModal");
}