@{
    ViewBag.Title = "Tervetuloa!";
    ViewBag.Contact = "Yhteystiedot";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    

    <div>
        <h4>Käytät Kulissit kuntoon! -ohjelmaa!</h4>
        <p>Todellinen käsityöihminen on joko kangas- tai lankahamsteri - pahimmillaan sekä että :)</p>
        <p>Olemme suunnitelleet erityisesti tätä varten materiaalinhallintajärjestelmän, jonka avulla on helpompi pysyä käsityksessä, mitä varastoista jo löytyy.</p>
    </div>
    <h6>@ViewBag.Contact</h6>
    <address>
        Teollisuustie 12<br />
        06150 Porvoo<br />
        <abbr title="Phone">Puh:</abbr>
        (019)5292122
    </address>

    <address>
        <strong>e-mail:</strong>   <a href="mailto:Support@example.com">Support@example.com</a>
    </address>
</main>