@model IEnumerable<MateriaaliVarasto.Models.Materiaalit>

@{
    ViewBag.Title = "Index";
}

<h2>Materiaalit</h2>

<p>
    @Html.ActionLink("Lisää uusi materiaali listaan", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Materiaali)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Materiaali)
        </td>
        
    </tr>
}

</table>
