
@{
    ViewBag.Title = "Index";
}

<h2>Materiaalit (Index)</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Materiaali ID</th>
            <th>Materiaali</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MateriaaliVarasto.Models.Materiaalit mater in Model)
        {
            <tr>
                <td>@mater.MateriaaliID</td>
                <td>@mater.Materiaali</td>
            </tr>
        }
    </tbody>
</table>

